/* CSS Declarations */

/* Set the background color of the body */
body {
  background: #00b3e6;
}

/* Style for div elements */
div {
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue', sans-serif;
  background: white;
  padding: 30px;
}

/* Style for the element with id 'main-header' */
#main-header {
  font-size: 22px;
}

/* Style for elements with class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
